/************************* HEADER ************************/

/* Shopping Cart icon size */
a.header__icon, a.header__icon--cart .icon {
    height: 2.5vh;
    width: 8vw;
    margin: auto;
}

/* Header Menu Padding */
a.header__menu-item {
    padding: 3vw;
}

/* Change Search and Shopping Cart icon color */
summary.header__icon {
    color: rgb(var(--color-base-accent-1));
}